<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<style type="text/css">
/*		html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
		body{
			color:#444;
			font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
			font-size:13px;
			line-height:1.5em;
			padding:1em;
			margin:auto;
			max-width:42em;
			background:#fefefe;
			margin-right: 4em;
		}*/
	</script>
</head>
<body>
	{{ content }}
</body>
</html>